/* SHANTI KMaps Fields Tree CSS */
.kmap-tree-picker {
	clear: both;
}

.matching {
	color:red;
	font-weight:bold;
}

.terminal {
	color:green;
	font-weight:bold;
}

.picked {
	color:gray;
	text-decoration:line-through;
}

.datastore {
	display:none;
}