.kmap_filter_box .selected-kmap:not(:first-child):before {
    content: 'OR';
    display: inline-block;
    width: 2.3em;
}
.kmap_filter_box.kmaps-conjunctive-filters .selected-kmap:not(:first-child):before {
    content: 'AND';
    display: inline-block;
    width: 2.8em;
}
.kmap_search, .kmap_filter { /* }, .kmap_search_filter { */
    clear: both;
}