.x-form-field-wrap .x-form-clear-trigger {
    background-image: url(../images/default/form/clear-trigger.gif);
}

.x-form-check-wrap input {
    vertical-align: middle;
}

.x-form-cb-label {
    top: 0;
}

.x-tree-node-collapsed .x-tree-node-icon
{
    background-image:  url(../images/kmaps/tree/empty.png) !important;
    background-repeat: no-repeat;
}

.x-tree-node-expanded .x-tree-node-icon
{
    background-image: url(../images/kmaps/tree/empty.png) !important;
    background-repeat: no-repeat;
}

.x-tree-node-leaf .x-tree-node-icon
{
    background-image: url(../images/kmaps/tree/empty.png) !important;
    background-repeat: no-repeat;
}

.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon {
    height: 0;
    width: 0;
}

.x-tree-arrows .x-tree-elbow {
    background-image: url(../images/kmaps/tree/empty.png);
}

.x-tree-arrows .x-tree-elbow-end {
    background-image: url(../images/kmaps/tree/empty.png);
}

.x-tree-arrows .x-tree-elbow-plus {
    background-image: url(../images/kmaps/tree/sprites.png);
}

.x-tree-arrows .x-tree-elbow-minus {
    background-image: url(../images/kmaps/tree/sprites.png);
    background-postion: 0,0;
}

.x-tree-arrows .x-tree-elbow-end-plus {
    background-image: url(../images/kmaps/tree/sprites.png) !important;
}

.x-tree-arrows .x-tree-elbow-end-minus {
    background-image: url(../images/kmaps/tree/sprites.png);
}

.x-tree-arrows .x-tree-ec-over .x-tree-elbow-minus {
    background-image: url(../images/kmaps/tree/sprites.png) !important;
}

.x-tree-arrows .x-tree-ec-over .x-tree-elbow-plus {
    background-image: url(../images/kmaps/tree/sprites.png) !important;
    background-postion: 0,0 !important;
}

.root-node .x-tree-ec-icon {
    display: none;
    /*background-image: url(../images/kmaps/tree/button-empty-lg.gif) !important;*/
    /*background-postion: 0,0 !important;*/
}




.x-tree-node-collapsed > .x-show-hidden {
    display: none;
}

.msg .x-box-mc {
    font-size:10px;
}

#msg-div {
    position:absolute;
    left:35%;
    top:800px;
    width:250px;
    z-index:10000;
}

#busy-div {
    position:absolute;
    left:35%;
    top:800px;
    width:45px;
    z-index:10000;
}

.example-info{
    width:150px;
    border:1px solid #c3daf9;
    border-top:1px solid #DCEAFB;
    border-left:1px solid #DCEAFB;
    background:#ecf5fe url( info-bg.gif ) repeat-x;
    font-size:10px;
    padding:8px;
}
